
        body{ /* los estilos de la pagna*/
            font-family: 'Quicksand', sans-serif;
            font-family: 'Roboto Serif', serif;
            font-family: 'Tourney', cursive;
            margin: 0;
        }

        .title{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .title-informacion h1{
            margin-bottom: 0;
        }

        .title-informacion p{
            margin-bottom: 0;
        }

        .title-informacion ul{
            text-decoration: none;
            list-style: none;
            padding: 0;
        }

        .title-informacion ul li{
            margin-bottom: 5px;
        }

        .title-informacion ul li i{
            margin: 0 9px 0 0;
        }

        .title div:nth-child(2){
            width: 150px;
        }

        .title div img{
            width: 100%;
            border-radius: 30px;
            border: 1px solid #00000082;
        }


        .Hero-Section{
            margin: 0 !important;
            padding: 0 !important;
        }

        .Hero-Section img{
            width: 100%;
        }


        section
        { /* aca agregamos las medidas de la seccion de la card*/
            width: 100%;
            /*display: flex;*/
            justify-content: center;
            background-color: lightgray;
        }        

        .cart{ /* Aca le damos estilos al modluo de la tarjeta*/
            background: white;
            width: 332px;
            height: 529px;
            border-radius: 26px;
            overflow: hidden;          
            
        }

        .cart img{ /* agregamos la imagen que se adapte al modulo d ela tarjeta*/
            width: 100%;
        }

        .cart .perfil{ /* agregamos los estilos para la imagen del perfil*/
            width: 100px;
            height: 100px;
            border-radius: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            border: 4px solid #ececec;
        }

        .cart ul{
            text-align-last: center;/*Alinea al centro del contenedor la imagen */
            padding: initial;
            margin-top: -57px;
            position: relative;
        }

        p {
            font-family: 'Roboto Serif', serif;
        }

        .cart p{
            text-align: center;
            margin: auto;
        }

        .cart p:nth-child(2){
            color: rgb(0 0 0 / 46%);
            font-weight: bold;
        }

        .cart h1{
            text-align: center;
            margin: auto;
            font-family: 'Roboto Serif', serif;
        }

        .cart .descripcion{ /*  aca damos margen a la desciprcion para que haya espacio en los follower */
            margin-bottom: 32px;
        }

        .modulos{ /* estilos de modulo de direccion e email*/
            /*background: rgb(121, 97, 97);*/
            display: flex;
            justify-content: space-around;
            padding: 22px;
        }
        
        .numeros_follower{ /* numeros del follower*/
            display: flex;
            justify-content: space-around;
            /*border: 1px solid #00000057;*/
        }

        .footer_card h3{/* modulo de follow footer*/
            text-align: center;
            margin: 0;
            padding: 14px;
            background-color: #39362f;
            color: white;
        }
        
        table, td, th {
            border: 1px solid rgba(0, 0, 0, 0.182);
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        .carousel{
            padding: 35px;
        }

        form{
            padding: 35px;
        }


        footer{
            text-align: center;
            padding: 30px;
            background: black;
            color: white;
        }